.App {
  text-align: center;
  background-image: linear-gradient(to right, #673ab7, #ffc107);
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.input-field {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 20px 0 0 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.submit-button {
  background-color: #ffc107;
  color: #673ab7;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0 20px 20px 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ffee58;
}

.error-message {
  color: #ff6b6b;
  font-weight: bold;
  margin-top: 1rem;
}

.weather-display {
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.weather {
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
}

.temperature {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1.2rem;
}
